.app-cmp-nav li {
  background-color: rgb(0, 0, 0);
  padding: 5px 10px;
  width: fit-content;
  list-style: none;
}

.app-cmp-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app-cmp-nav a {
  color: rgb(80, 226, 36);
  text-decoration: none;
}
