.app-cmp-nav li {
    background-color: black;
    padding: 5px 10px;
    width: fit-content;
    list-style: none;
}

.app-cmp-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.app-cmp-nav a {
    color: rgb(177, 213, 228);
    text-decoration: none;
}