@mixin set-block() {
  box-sizing: border-box;
  display: block;

  margin: 0px;
  padding: 0px;

  border: none;
}

@mixin layout-block() {
  @layer {
    & {
      @include set-block();
    }
  }
}

.app-cmp-nav li {
  background-color: black;
  padding: 5px 10px;
  width: fit-content;
  list-style: none;
}

.app-cmp-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app-cmp-nav a {
  color: rgb(177, 213, 228);
  text-decoration: none;
}